@model int

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
    <input type="text" class="form-control" placeholder="Nome do produto" aria-label="Username"
        aria-describedby="basic-addon1">
</div>